
.InWorldInfoPanel {
	opacity: 0;
	wash-color: ui_color;
	
	saturation: 0.5;
	pre-transform-scale2d: .95;
	transition-property: opacity, pre-transform-scale2d, wash-color, saturation, border;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

.InWorldInfoPanel .TextArea
{
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	opacity: 0;
}

.InWorldInfoPanel.Activated,
.InWorldInfoPanel.Activated .TextArea,
.InWorldInfoPanel.AlwaysVisible,
.InWorldInfoPanel.AlwaysVisible .TextArea{
	opacity: 1;
	wash-color: none;
	saturation: 1;
	pre-transform-scale2d: 1;
}

.Page {
	width: 100%;
	height: 100%;
	flow-children: none;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000dd ), to( #000000cc ) );
	border-radius: 20px;
	border: 2px solid #000000dd;
}

.ImportantPage {
	width: 100%;
	height: 100%;
	flow-children: none;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5858f2ee ), to( #5858f2dd ) );
	border-radius: 20px;
	border: 2px solid #2f94c2ee;
}

.TextArea {
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	padding: 10px;
	overflow: clip scroll;
}

.Text
{
	color: white;
	font-size: 30px;

	vertical-align: center;
	horizontal-align: center;
}



